.Dashboard {
    margin-top: 40%;
   
    .form {
        display: flex;
        flex-direction: row;

        .from {
            display: flex;
            flex-direction: column;
        }
    
        .to {
            display: flex;
            flex-direction: column;
        }
    }

    .title {
        font-size: $header-font-size;
        font-weight: lighter;
        margin-bottom: 2.5rem;
    }

    .rate {
       font-size: $small;
       margin-bottom: 1rem;
    }
}

.Input {
    padding: 0.7em;
    background-color: $secondary-color;
    border: none;
    color: $white;
    outline: none;
    width: 22rem;
    height: 15rem;
    font-size: 3.5rem;
}

.swap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.3rem;

    .material-icons { 
        font-size: 4rem;
        display: flex;
        color: green;
        cursor: pointer;
    }
}


.Error {
    color: red;
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}
