.Select {
  font-size: 1rem;
  height: 3rem;
  width: 20rem;
  background-color: $secondary-color-light;
  color: $white;
  width: 22rem;
  height: 4rem;
  border: none;
  :focus {
    outline: none;
  }
}

