/* Colors */

$primary-color: #222e48;
$secondary-color: #293952;
$secondary-color-light: #2a4560;
$white: #F4F5F7;

/* Font size */
$header-font-size: 2.5rem;
$default-font-size: 1.6rem;
$small: 1rem;